@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Space Mono', monospace;
        color: hsl(183, 100%, 15%);
    }

    body {
        background-color: hsl(185, 41%, 84%);
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        transition: 0.5s;
        border: 2px solid white;
        -moz-appearance: textfield;
        outline: none;

    }

    input[type=number]:focus {
        border-color: hsl(172, 67%, 45%);
    }

    input[type=number].red {
        border-color: red;
    }

    .placeCenter::-webkit-input-placeholder {
        text-align: center;
    }

    .placeCenter:-moz-placeholder {
        text-align: center;
    }

    .placeCenter::placeholder {
        text-align: center;
    }

}